/*this is for typography im sooo sleepy lol but i should probably drink some coffee*/
h1{
    font-size: 40px;
    color: #ce6300;
    font-style: italic; 
    font-family: 'Ubuntu', sans-serif;
}

p{
    line-height: 28px;
    font-size: 14px; 
    font-family: 'Ubuntu', sans-serif;
}

body {
     background-color:#fcfbfa;
}
.button-link{
    border-color:darkmagenta;
    background-color: darkorange;
    border-width: 2px;
    text-decoration: none;
    color: black; 
}