/*this is for typography im sooo sleepy lol but i should probably drink some coffee*/
h1{
    font-size: 40px;
    color: #ce6300;
    font-style: italic; 
    font-family: 'Ubuntu', sans-serif;
}

p{
    line-height: 28px;
    font-size: 17px; 
    font-family: 'Ubuntu', sans-serif;
}

body {
     background-color:#fcfbfa;
}

.button-link{
    border-color:darkmagenta;
    border-style:double;
    background-color: darkorange;
    border-width: 7px;
    text-decoration: none;
    color: black; 
    border-radius:25px;
    padding: 2%;
    width: 50px;
    text-align: center;
    margin-top:20px; 
}
.button-alert{
border-style:double;
border-color: rgb(224, 165, 2);
background-color: blanchedalmond;
border-width: 7px;
    text-decoration: none;
    color: black; 
    border-radius:25px;
    padding: 2%;
    width: 50px;
    text-align: center;
    margin-top:20px; 
}

.top-banner{
 height: 240px;
 text-align:center; 
 padding-top: 110px;
}

.main-content{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
}
footer{
    height:10px;
    text-align:center; 
}

