h1{
    font-size: 40px;
    color: #e29300;
    font-style: italic; 
    font-family: 'Ubuntu', sans-serif;
}


p{
    line-height: 28px;
    font-size: 14px; 
    font-family: 'Ubuntu', sans-serif;
}